.transactions {
    margin: 2em; 

    .transaction-card {
        border-bottom: solid thin black;
        display: flex;
        flex-direction: column;
        margin: 0.5em 1em;
        margin-bottom: 20px;
        width: 400px;
    
        .info {
            display: flex;
            flex-direction: row;
    
            p {
                margin-right: 2em;
                &:last-of-type { 
                    margin-left: auto;
                    margin-right: 0; 
                }
            }
        }
    }
}